# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# /android (Removed from ignore to support Bare Workflow sync)

# android local development/sensitive files
android/local.properties
android/.gradle
android/build
android/app/build
android/**/*.jks
android/**/*.keystore
# android/**/*.png (Commented out to allow splash PNGs)
!android/app/src/main/res/drawable*/splashscreen_logo.png


